<!DOCTYPE html>
{% block html %}
  <html lang="en">
</head>
    <meta charset="UTF-8">
    {% block head %}
    <title>{% block title %}django1.8{% endblock title %}</title>

    {% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock metas %}

    {% block styles %}
        <link href="/static/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/nav.css" rel="stylesheet">
        <link href="/static/css/addJs.css" rel="stylesheet">
        <link href="/static/css/com.css" rel="stylesheet">
        <link href="/static/images/favicon.ico" type="image/x-icon" rel="shortcut icon" />
        <link href="/static/assets/sweet/sweet-alert.css" rel="stylesheet">
        <link href="/static/assets/bootstrap-table/src/bootstrap-table.css" rel="stylesheet">
        <link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
        <script src="/static/assets/jquery/jquery.min.js"></script>
        <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/assets/bootstrap-table/src/bootstrap-table.js"></script>
        <script src="/static/assets/sweet/sweet-alert.min.js"></script>
        <script src="/static/js/com.js"></script>
        <script src="/static/js/nav.js"></script>
    {% endblock styles %}
    {% endblock head %}
  </head>
  <body>
    {% block body %}
    {% block navbar %}
    {% endblock navbar %}
    {% block content %}
    {% endblock content %}
    {% block scripts %}
    {% endblock scripts %}
    {% endblock body %}
  </body>
{% endblock html %}
</html>